#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Article {
  border-style: outset;
  box-shadow: 5px 10px #888888;
  margin-bottom: 20px;
}

.ArticleList {
  list-style-type: none;
}

.Comment {
  border-style: outset;
  box-shadow: 5px 10px #888888;
  margin-bottom: 20px;
}

.CommentList {
  list-style-type: none;
}
